dist/triangular-tanga-0.1.0/ApplicationLoadingMask.view.html
<div class='load secondary_load'>
  <div>
    <div>
      <span class='text'>
        Loading data...
      </span>
      <div class='load_animation'>
        <img alt='Loading...' src='assets/vendor/diaphanous-dress/dist/css/img/loading.gif'>
      </div>
    </div>
  </div>
</div>

src/th-0.9.0/lang/ApplicationLoadingMask.haml
.load.secondary_load
  %div
    %div
      %span.text
        Loading data...
        %span{:'data-thid'=>'number'} 0
      .load_animation
        %img{:'src'=>'./_js_/css/img/loading.gif',:'alt'=>'Loading...'}
